/* popup.css */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  width: 450px;
  height: auto;
  padding: 15px;
  min-height: 450px;
  background-image: url("./images/icon512.png");
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab-button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.tab-button.active {
  border-bottom: 2px solid #f45d42;
  color: #f45d42;
}

.tab-content {
  display: none;
  padding-top: 15px;
}

.tab-content.active {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eee;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 12px;
}

td {
  max-width: 150px;
  overflow-x: auto;
  white-space: nowrap;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#add-button {
  background-color: #f45d42;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgba(254, 254, 254, 0.7);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#save-button {
  background-color: #f45d42;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button,
.delete-button {
  background-color: #42caf4 !important;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.edit-button {
  margin-right: 5px;
}

.delete-button {
  background-color: #dc3545 !important;
}
